production-config.php
local-config.php
/vendor
/composer.lock
.env
.env.*
!.env.example
config/keys.php

public/core/*
public/.htaccess

public/content/debug.log
public/content/uploads
!public/content/uploads/.gitkeep
public/content/plugins/*
public/content/mu-plugins/*
public/content/themes/*
!public/content/themes/*-child

.DS_STORE
